/*@media (max-width: 768px){
	.profile{
		display:block;
		width: 100%;
		height:auto;		
	}
	.dim{
		color:red;
	}
}

@media (max-width: 468px){
	.profile{
		display:block;
		width: 100%;
		height:auto;

	}
	.dim{
		color:red;
	}
}

@media (min-width: 1024px){
	.profile{
		
		
	}
	.dim{
		color:'red';
	
	}

}

@media (min-width: 769px) and (max-width:1023px){
	.profile{
		display:block;
		max-width: 100%;
		height:auto;

	}

}
*/
